1_SOMplots_bothSites_noPCA_L2norm_11x15hexagonal_2cl
2_SOMplots_bothSites_noPCA_L2norm_12x15hexagonal_2cl
3_SOMplots_bothSites_noPCA_L2norm_13x15hexagonal_2cl
4_SOMplots_bothSites_noPCA_L2norm_11x16hexagonal_2cl
5_SOMplots_bothSites_noPCA_L2norm_12x16hexagonal_2cl
6_SOMplots_bothSites_noPCA_L2norm_11x17hexagonal_2cl
7_SOMplots_bothSites_noPCA_L2norm_11x15hexagonal_3cl
8_SOMplots_bothSites_noPCA_L2norm_12x15hexagonal_3cl
9_SOMplots_bothSites_noPCA_L2norm_13x15hexagonal_3cl
10_SOMplots_bothSites_noPCA_L2norm_11x16hexagonal_3cl
11_SOMplots_bothSites_noPCA_L2norm_12x16hexagonal_3cl
12_SOMplots_bothSites_noPCA_L2norm_11x17hexagonal_3cl
13_SOMplots_bothSites_noPCA_L2norm_11x15hexagonal_4cl
14_SOMplots_bothSites_noPCA_L2norm_12x15hexagonal_4cl
15_SOMplots_bothSites_noPCA_L2norm_13x15hexagonal_4cl
16_SOMplots_bothSites_noPCA_L2norm_11x16hexagonal_4cl
17_SOMplots_bothSites_noPCA_L2norm_12x16hexagonal_4cl
18_SOMplots_bothSites_noPCA_L2norm_11x17hexagonal_4cl
19_SOMplots_bothSites_noPCA_L2norm_11x15hexagonal_5cl
20_SOMplots_bothSites_noPCA_L2norm_12x15hexagonal_5cl
21_SOMplots_bothSites_noPCA_L2norm_13x15hexagonal_5cl
22_SOMplots_bothSites_noPCA_L2norm_11x16hexagonal_5cl
23_SOMplots_bothSites_noPCA_L2norm_12x16hexagonal_5cl
24_SOMplots_bothSites_noPCA_L2norm_11x17hexagonal_5cl
 1_SOMplots_bothSites_noPCA_L2norm_11x15hexagonal_2cl
